*~
*.pyc
*.egg-info
build/
dist/
docs/_build
docs/build
tags
.idea/
MANIFEST
ve
venv
junit.xml
.cache
.DS_Store
.pytest_cache/
.asv
prof
relative
conda-build-testing


# Rever
rever/
**/.vscode
**/_build

# Remove all the `.bat`s and `.sh`s files the recipie folder creates

/test-recipie/*.*/*.bat
/test-recipie/*.*/*.sh