*~
*.pyc
*.egg-info
build/
dist/
docs/_build
docs/build
tags
.idea/
MANIFEST
ve
venv
junit.xml
.cache
.DS_Store
.pytest_cache/
.asv
prof
relative
conda-build-testing


# Rever
rever/
**/.vscode
**/_build
tests/test-recipes/metadata/_overlinking_detection/bld.bat
tests/test-recipes/metadata/_overlinking_detection/build.sh
tests/test-recipes/metadata/_overlinking_detection_ignore_patterns/bld.bat
tests/test-recipes/metadata/_overlinking_detection_ignore_patterns/build.sh
allure-results/*.txt
allure-results/*.json

