# disable autofixing PRs, commenting "pre-commit.ci autofix" on a pull request triggers a autofix
ci:
  autofix_prs: false
# generally speaking we ignore all vendored code as well as tests data
# ignore patches/diffs since slight reformatting can break them
exclude: |
  (?x)^(
    tests/(
      archives |
      index_data |
      test-cran-skeleton |
      test-recipes |
      test-skeleton
    )/ |
    .*\.(patch|diff)
  )
repos:
  # generic verification and formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # standard end of line/end of file cleanup
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: trailing-whitespace
      # ensure syntaxes are valid
      - id: check-toml
      - id: check-yaml
        exclude: |
          (?x)^(
            recipe/meta\.yaml |
            conda_build/templates/.*\.yaml |
            docs/click/meta\.yaml |
            docs/source/user-guide/tutorials/meta\.yaml
          )
      # catch git merge/rebase problems
      - id: check-merge-conflict
      # sort requirements files
      - id: file-contents-sorter
        files: ^tests/requirements.*\.txt
        args: [--unique]
  # Python verification and formatting
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
      # auto inject license blurb
      - id: insert-license
        files: \.py$
        args: [--license-filepath, .github/disclaimer.txt, --no-extra-eol]
        exclude: ^conda_build/version.py
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      # upgrade standard Python codes
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      # auto format Python codes
      - id: black
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.16.0
    hooks:
      # auto format Python codes within docstrings
      - id: blacken-docs
        additional_dependencies: [black]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.5
    hooks:
      - id: ruff
        args: [--fix]
  - repo: meta
    # see https://pre-commit.com/#meta-hooks
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: git-diff
        name: git diff
        entry: git diff --exit-code
        language: system
        pass_filenames: false
        always_run: true
