language: python
matrix:
  include:
    - python: '2.7'
      os: linux
    - python: '3.5'
      os: linux
    # - python: '3.5'
    #   env: CANARY=true
    #   os: linux
    - python: '3.5'
      env: CONDA=4.1
      os: linux
    - python: '3.5'
      env:
        - FLAKE8=true
      os: linux

install:
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget http://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes
  - conda config --set auto_update_conda False
  - conda update -q --all
  - if [[ "$CANARY" == "true" ]]; then
      conda install -y -q -c conda-canary conda;
      conda config --set always_yes yes;
    else
      if [ -n "$CONDA" ]; then
        conda install -y --no-deps conda=${CONDA} requests;
      fi
    fi

  - conda install -q anaconda-client requests filelock contextlib2 jinja2 patchelf python=$TRAVIS_PYTHON_VERSION pyflakes=1.1 anaconda-verify
  - pip install pkginfo
  - if [[ "$FLAKE8" == "true" ]]; then
      conda install -q flake8;
    else
      conda install -c conda-forge -q perl;
      conda install -q pytest pip pytest-cov numpy mock;
      conda update -q --all;
      $HOME/miniconda/bin/pip install pytest-xdist pytest-capturelog;
      pushd .. && git clone https://github.com/conda/conda_build_test_recipe && popd;
    fi
  - pip install --no-deps .
  - conda info -a

script:
  # flake8 and bdist_conda test together
  - if [[ "$FLAKE8" == "true" ]]; then
      flake8 .;
      cp bdist_conda.py $HOME/miniconda/lib/python${TRAVIS_PYTHON_VERSION}/distutils/command;
      pushd tests/bdist-recipe && python setup.py bdist_conda && popd;
      conda build --help;
      conda build conda.recipe --no-anaconda-upload -c conda-forge;
      conda create -n _cbtest python=$TRAVIS_PYTHON_VERSION;
      source activate _cbtest;
      conda install $(conda render --output conda.recipe);
      conda install filelock;
      conda build conda.recipe --no-anaconda-upload -c conda-forge;
    else
      $HOME/miniconda/bin/py.test -v -n 2 --basetemp /tmp/cb --cov conda_build --cov-report xml tests;
    fi

notifications:
    flowdock: ef3821a08a791106512ccfc04c92eccb

git:
  depth: 10000

sudo: false

after_success:
  - pip install codecov
  - codecov --env TRAVIS_PYTHON_VERSION
