pr:
  autoCancel: true
  branches:
    include:
    - master

jobs:

- job: 'Linux'
  pool:
    vmImage: ubuntu-16.04
  strategy:
    maxParallel: 10
    matrix:
      py27-release:
        PYTHON_VERSION: '2.7'
        CONDA_VERSION: 'release'
     #py27-canary:
     #  PYTHON_VERSION: '2.7'
     #  CONDA_VERSION: 'canary'
     #py37-canary:
     #  PYTHON_VERSION: '3.7'
     #  CONDA_VERSION: 'release'
      py37-release:
        PYTHON_VERSION: '3.7'
        CONDA_VERSION: 'canary'
     #py38-canary:
     #  PYTHON_VERSION: '3.8'
     #  CONDA_VERSION: 'release'
      py38-release:
        PYTHON_VERSION: '3.8'
        CONDA_VERSION: 'canary'
  timeoutInMinutes: 480
  steps:
  - script: |
      set -e -u
      sudo apt update
      sudo apt install attr -y
      source ci/azurepipelines/activate_conda "/usr/share/miniconda/bin/python"
      conda info
      ps -ef | grep $$
      conda list
      grep '^#' "${CONDA_PREFIX}/conda-meta/history"
      if [ "$PYTHON_VERSION" = "2.7" ]; then
        # No Python 2.7 builds after conda=4.8.4 available.
        conda install python=$PYTHON_VERSION conda\<=4.8.4 -y
      else
        conda install python=$PYTHON_VERSION -y
      fi
      mkdir -p /usr/share/miniconda/locks
      mkdir -p /usr/share/miniconda/bin
      chmod a-w /usr/share/miniconda/locks
      if [ "$CONDA_VERSION" = "release" ]; then
        conda update -y conda
      else
        conda install -y -c conda-canary conda
      fi
      conda config --set always_yes yes
      conda config --set auto_update_conda False
      conda info

      source ci/azurepipelines/install_conda_build_test_deps

      pip install --no-deps .

      conda info -a

      source ci/azurepipelines/setup_pytest_replay

    displayName: Preparing test environment

  - script: |
      set -e -u
      source ci/azurepipelines/activate_conda "/usr/share/miniconda/bin/python"
      conda install conda-verify -y
      py.test --color=yes -v -n 0 --basetemp /tmp/cb_serial --cov conda_build --cov-report xml -m "serial" tests --test-run-title="Linux-SerialTests-$CONDA_VERSION-Py$PYTHON_VERSION" "${PYTEST_REPLAY_OPTIONS[@]+"${PYTEST_REPLAY_OPTIONS[@]}"}"
    displayName: 'Serial Tests'

  - script: |
      set -e -u
      source ci/azurepipelines/activate_conda "/usr/share/miniconda/bin/python"
      conda remove conda-verify -y
      echo "safety_checks: disabled" >> ~/.condarc
      echo "local_repodata_ttl: 1800" >> ~/.condarc
      mkdir -p ~/.conda
      conda create -n blarg1 -yq python=2.7
      conda create -n blarg3 -yq python=3.7
      conda create -n blarg4 -yq python nomkl numpy pandas svn
      source ci/azurepipelines/activate_conda "/usr/share/miniconda/bin/python"
      py.test --color=yes -v -n auto --basetemp /tmp/cb --cov conda_build --cov-append --cov-report xml -m "not serial" tests --test-run-title="Linux-ParallelTests-$CONDA_VERSION-Python$PYTHON_VERSION" "${PYTEST_REPLAY_OPTIONS[@]+"${PYTEST_REPLAY_OPTIONS[@]}"}"
    displayName: 'Parallel Tests'

  - publish: $(Build.ArtifactStagingDirectory)/pytest-replay
    artifact: 'Linux-$(CONDA_VERSION)-Py$(PYTHON_VERSION)'
    condition: and(always(), ne(variables['PYTHON_VERSION'], '2.7'))


- job: 'macOS'
  pool:
    vmImage: 'macOS-10.14'
  strategy:
    maxParallel: 10
    matrix:
      # Some tests are done with Xcode others without.
      py27-release-xcode:
        PYTHON_VERSION: '2.7'
        CONDA_VERSION: 'release'
        INSTALL_XCODE: '1'
     #py27-canary:
     #  PYTHON_VERSION: '2.7'
     #  CONDA_VERSION: 'canary'
     #  INSTALL_XCODE: '0'
      py37-release-xcode:
        PYTHON_VERSION: '3.7'
        CONDA_VERSION: 'release'
        INSTALL_XCODE: '1'
     #py37-canary:
     #  PYTHON_VERSION: '3.7'
     #  CONDA_VERSION: 'canary'
     #  INSTALL_XCODE: '0'
      py38-release-xcode:
        PYTHON_VERSION: '3.8'
        CONDA_VERSION: 'release'
        INSTALL_XCODE: '1'
      py38-canary:
        PYTHON_VERSION: '3.8'
        CONDA_VERSION: 'canary'
        INSTALL_XCODE: '0'
  timeoutInMinutes: 480
  steps:
  # TODO: Fast finish on azure pipelines?
  - script: |
      echo "Fast Finish"
  - script: |
      echo "Removing homebrew from Azure to avoid conflicts."
      set -e -u
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -f -q
      rm ~/uninstall_homebrew
    displayName: Remove homebrew

  - script: |
      echo "Installing Miniconda"
      set -x -e -u
      curl -o $(Build.StagingDirectory)/miniconda.sh https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
      chmod +x $(Build.StagingDirectory)/miniconda.sh
      $(Build.StagingDirectory)/miniconda.sh -b -p $(Build.StagingDirectory)/miniconda
      source ci/azurepipelines/activate_conda "$(Build.StagingDirectory)/miniconda/bin/python"
      echo "Setting up Conda environment"
    displayName: 'Install miniconda'

  - script: |
      echo "Setup CF macOS bits and select Xcode"
      set -x -e -u
      source ci/azurepipelines/activate_conda "$(Build.StagingDirectory)/miniconda/bin/python"
      echo "PWD is $PWD"
      find $PWD
      source ci/azurepipelines/run_conda_forge_build_setup_osx
    displayName: 'Setup CF macOS bits and select Xcode'

  - script: |
      set -e -u
      source ci/azurepipelines/activate_conda "$(Build.StagingDirectory)/miniconda/bin/python"
      conda info
      conda list
      grep '^#' "${CONDA_PREFIX}/conda-meta/history"
      if [ "$PYTHON_VERSION" = "2.7" ]; then
        # No Python 2.7 builds after conda=4.8.4 available.
        conda install python=$PYTHON_VERSION conda\<=4.8.4 -y
      else
        conda install python=$PYTHON_VERSION -y
      fi
      mkdir -p $(Build.StagingDirectory)/miniconda/locks
      mkdir -p $(Build.StagingDirectory)/miniconda/bin
      chmod -w $(Build.StagingDirectory)/miniconda/locks
      if [ "$CONDA_VERSION" = "release" ]; then
        conda update -y conda;
      else
        conda install -y -c conda-canary conda;
      fi
      conda config --set always_yes yes
      conda config --set auto_update_conda False
      conda info

      source ci/azurepipelines/install_conda_build_test_deps

      pip install --no-deps .

      conda info -a

      conda list --show-channel-urls

      source ci/azurepipelines/setup_pytest_replay

    displayName: Preparing test environment

  - script: |
      set -e -u
      source ci/azurepipelines/activate_conda "$(Build.StagingDirectory)/miniconda/bin/python"
      conda install conda-verify -y
      py.test --color=yes -v -n 0 --basetemp /tmp/cb_serial --cov conda_build --cov-report xml -m "serial" tests --test-run-title="macOS-SerialTests-$CONDA_VERSION-Python$PYTHON_VERSION" "${PYTEST_REPLAY_OPTIONS[@]+"${PYTEST_REPLAY_OPTIONS[@]}"}"
    displayName: 'Serial Tests'

  - script: |
      set -e -u
      source ci/azurepipelines/activate_conda "$(Build.StagingDirectory)/miniconda/bin/python"
      conda remove conda-verify -y
      echo "safety_checks: disabled" >> ~/.condarc
      echo "local_repodata_ttl: 1800" >> ~/.condarc
      mkdir -p ~/.conda
      conda create -n blarg1 -yq python=2.7
      conda create -n blarg3 -yq python=3.7
      conda create -n blarg4 -yq python nomkl numpy pandas svn
      py.test --color=yes -v -n auto --basetemp /tmp/cb --cov conda_build --cov-append --cov-report xml -m "not serial" tests --test-run-title="macOS-ParallelTests-$CONDA_VERSION-Python$PYTHON_VERSION" "${PYTEST_REPLAY_OPTIONS[@]+"${PYTEST_REPLAY_OPTIONS[@]}"}"
    displayName: 'Parallel Tests'

  - publish: $(Build.ArtifactStagingDirectory)/pytest-replay
    artifact: 'macOS-$(CONDA_VERSION)-Py$(PYTHON_VERSION)'
    condition: and(always(), ne(variables['PYTHON_VERSION'], '2.7'))


- job: 'Windows'
  pool:
    vmImage: "vs2017-win2016"
  strategy:
    maxParallel: 10
    matrix:
      py27-release:
        PYTHON_VERSION: '2.7'
        CONDA_VERSION: 'release'
     #py27-canary:
     #  PYTHON_VERSION: '2.7'
     #  CONDA_VERSION: 'canary'
      py37-release:
        PYTHON_VERSION: '3.7'
        CONDA_VERSION: 'release'
     #py37-canary:
     #  PYTHON_VERSION: '3.7'
     #  CONDA_VERSION: 'canary'
      py38-release:
        PYTHON_VERSION: '3.8'
        CONDA_VERSION: 'release'
     #py38-canary:
     #  PYTHON_VERSION: '3.8'
     #  CONDA_VERSION: 'canary'
  timeoutInMinutes: 480
  steps:
  - checkout: self
    persistCredentials: true
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(PYTHON_VERSION)'

  - script: |
      choco install vcpython27 -fdv -y --debug
    displayName: Install vcpython27.msi

  - script: |
      rmdir C:\Strawberry /s /q
      choco install wget
      wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Windows-x86_64.exe
      start /wait "" Miniconda3-latest-Windows-x86_64.exe /InstallationType=JustMe /S /D=%UserProfile%\Miniconda3
      "%UserProfile%\Miniconda3\condabin\conda.bat" init
      conda info -a
    displayName: Install miniconda

  - powershell: |
      Set-PSDebug -Trace 1
      $batchcontent = @"
      ECHO ON
      SET vcpython=C:\Program Files (x86)\Common Files\Microsoft\Visual C++ for Python\9.0
      DIR "%vcpython%"
      CALL "%vcpython%\vcvarsall.bat" %*
      "@
      $batchDir = "C:\Program Files (x86)\Common Files\Microsoft\Visual C++ for Python\9.0\VC"
      $batchPath = "$batchDir" + "\vcvarsall.bat"
      New-Item -Path $batchPath -ItemType "file" -Force
      Set-Content -Value $batchcontent -Path $batchPath
      Get-ChildItem -Path $batchDir
      Get-ChildItem -Path ($batchDir + '\..')
      set LIB
    displayName: Patch vs2008

  - script: |
      echo on
      set PATH
      doskey conda="call %UserProfile%\Miniconda3\condabin\conda.bat" $*
      doskey /macros
      call "%UserProfile%\Miniconda3\condabin\conda.bat" init
      set PATH
    displayName: conda init

  - script: |
      echo on
      set PATH
      call %UserProfile%\Miniconda3\condabin\activate.bat base||exit 1
      set PATH
      call conda install python="%PYTHON_VERSION%" -y||exit 1
      if "%CONDA_VERSION%" == "canary" (call conda update -c conda-canary conda||exit 1) else (call conda update -q conda||exit 1)
      call conda config --set always_yes yes
      call conda config --set auto_update_conda no
      call conda info
      python -c "import sys; print(sys.version)"
      python -c "import sys; print(sys.executable)"
      python -c "import sys; print(sys.prefix)"
      call conda update -q --all||exit 1
      call conda install -q pip python-libarchive-c pytest git pytest-cov jinja2 m2-patch flake8 mock requests contextlib2 chardet glob2 perl pyflakes pycrypto posix m2-git anaconda-client numpy beautifulsoup4 pytest-xdist pytest-mock filelock pkginfo psutil pytz tqdm conda-package-handling pytest-azurepipelines||exit 1
      if "%PYTHON_VERSION%" == "2.7" call conda install -c defaults -c conda-forge pytest-replay pytest-rerunfailures -y||exit 1
      if "%PYTHON_VERSION%" NEQ "2.7" call conda install pytest-replay pytest-rerunfailures -y||exit 1
      echo safety_checks: disabled >> %UserProfile%\.condarc
      echo local_repodata_ttl: 1800 >> %UserProfile%\.condarc
      if "%PYTHON_VERSION%" == "2.7" call conda install -q scandir pathlib2||exit 1
      if "%PYTHON_VERSION%" NEQ "2.7" call conda install -q py-lief||exit 1
      python --version
      python -c "import struct; print(struct.calcsize('P') * 8)"
      pip install --no-deps .
      conda-build --version
      pushd .. && git clone https://github.com/conda/conda_build_test_recipe  && popd
      mkdir %UserProfile%\cbtmp_serial
      mkdir %UserProfile%\cbtmp
      for /d %%F in (%UserProfile%\cbtmp_serial\*) do rd /s /q "%%F"
      for /d %%F in (%UserProfile%\cbtmp\*) do rd /s /q "%%F"
      call conda create -n blarg -yq --download-only python=2.7||exit 1
      call conda create -n blarg -yq --download-only python=3.7||exit 1
      call conda create -n blarg -yq --download-only python cmake||exit 1
      mkdir $(Build.ArtifactStagingDirectory)\\pytest-replay
      set "PYTEST_REPLAY_OPTIONS=--replay-record-dir=$(Build.ArtifactStagingDirectory)\\pytest-replay"
      if "%PYTHON_VERSION%" NEQ "2.7" set "PYTEST_REPLAY_OPTIONS=--replay-record-dir=$(Build.ArtifactStagingDirectory)\\pytest-replay --replay-base-name=Win-%CONDA_VERSION%-Py%PYTHON_VERSION%"
      echo "##vso[task.setvariable variable=PYTEST_REPLAY_OPTIONS]%PYTEST_REPLAY_OPTIONS%"
    displayName: 'Configuration'

  - script: |
      echo on
      set PATH
      call %UserProfile%\Miniconda3\condabin\activate.bat base||exit 1
      set PATH
      call conda install -y conda-verify||exit 1
      set PERL=
      set LUA=
      set R=
      py.test --color=yes -v --cov conda_build --cov-report xml tests --basetemp %UserProfile%\cbtmp_serial -n 0 -m "serial" --test-run-title="Win-SerialTests-%CONDA_VERSION%-Python%PYTHON_VERSION%" %PYTEST_REPLAY_OPTIONS%
    displayName: 'Serial Tests'

  - script: |
      echo on
      set PATH
      call %UserProfile%\Miniconda3\condabin\activate.bat base||exit 1
      set PATH
      call conda remove -y conda-verify||exit 1
      set PERL=
      set LUA=
      set R=
      py.test --color=yes -v --cov conda_build --cov-report xml --cov-append tests --basetemp %UserProfile%\cbtmp -n auto -m "not serial" --test-run-title="Win-ParallelTests-%CONDA_VERSION%-Python%PYTHON_VERSION%" %PYTEST_REPLAY_OPTIONS%
    env:
      VS90COMNTOOLS: "C:\\Program Files (x86)\\Common Files\\Microsoft\\Visual C++ for Python\\9.0\\VC\\bin"
      LIB:
    displayName: 'Parallel Tests'

  - publish: $(Build.ArtifactStagingDirectory)/pytest-replay
    artifact: 'Win-$(CONDA_VERSION)-Python$(PYTHON_VERSION)'
    condition: always()
