anaconda-client
conda-verify
contextlib2
coverage
cytoolz
git
numpy
perl
pip
pyflakes
pytest
pytest-cov
pytest-forked
pytest-mock
pytest-rerunfailures
pytest-xdist
ruamel.yaml
tomli  # [py<3.11] for coverage pyproject.toml
