anaconda-client
conda-verify
contextlib2
coverage
cytoolz
flaky
git
numpy
perl
pip
pyflakes
pytest <8.1
pytest-cov
pytest-forked
pytest-mock
pytest-rerunfailures
pytest-xdist
ruamel.yaml
setuptools <75.1.0  # temporary, see https://github.com/conda/conda-build/issues/5493
tomli  # [py<3.11] for coverage pyproject.toml
