# conda-build test dependencies
# run as 'conda install -c defaults --file tests/requirements.txt'
anaconda-client
beautifulsoup4
chardet
conda
conda-forge::pytest-split
conda-package-handling
conda-verify
contextlib2
cytoolz
filelock
git
glob2
jinja2
numpy
perl
pip
pkginfo
psutil
py-lief
pycrypto
pyflakes
pytest
pytest-cov
pytest-forked
pytest-mock
pytest-replay
pytest-rerunfailures
pytest-xdist
python-libarchive-c
pytz
requests
ripgrep
toml
tqdm
