<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE rss PUBLIC "-//Netscape Communications//DTD RSS 0.91//EN" "http://www.rssboard.org/rss-0.91.dtd">
<rss version="0.91">
  <channel>
    <title>{{ channel_name }} updates</title>
    <link>{{ channel_url }}</link>
    <description>Updates in the last two weeks</description>
    <language>en</language>
    <copyright>Copyright {{ current_time | strftime("%Y") }}, Anaconda, Inc.</copyright>
    <pubDate>{{ current_time | strftime("%a, %d %b %Y %H:%M:%S %z") }}</pubDate>
{% for name, commits_dict in commit_info.items() %}
    <item>
      <title>{{ name }}</title>
      <pubDate>{{ commits_dict['commits'][0]['timestamp'] | strftime("%a, %d %b %Y %H:%M:%S %z") }}</pubDate>
      {% if "recipe_origin" in commits_dict and commits_dict['recipe_origin'] %}
      <link>{{ commits_dict['recipe_origin'] }}</link>
      <description>
      {% for commit in commits_dict['commits'] %}
        - {{ commit['hash'] }} ({{ commit['timestamp'] | strftime("%a, %d %b %Y %H:%M:%S %z") }}): {{ commit['description'] }}
      {% endfor %}
      </description>
      {% endif %}
    </item>
{% endfor %}
  </channel>
</rss>
