Pillow==10.0.1
PyYAML==6.0.1
Sphinx==8.2.1
conda-sphinx-theme==0.2.3
linkify-it-py==2.0.2
myst-parser==4.0.0
pylint==2.17.5
requests==2.31.0
ruamel.yaml==0.17.32
sphinx-argparse==0.4.0
sphinx-autobuild==2021.3.14
sphinx-sitemap==2.5.1
sphinx_design==0.6.1
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-plantuml==0.26
sphinxcontrib-programoutput==0.17
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
