Pillow==12.1.1
PyYAML==6.0.3
Sphinx<10
conda-sphinx-theme==0.4.0
linkify-it-py==2.1.0
myst-parser==5.0.0
pylint<4
requests==2.32.5
ruamel.yaml==0.19.1
sphinx-argparse==0.5.2
sphinx-autobuild==2025.8.25
sphinx-sitemap==2.9.0
sphinx_design==0.7.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-plantuml==0.31
sphinxcontrib-programoutput==0.19
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
